* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #6d0b0b;
  color: white;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
}
.organizacaoVinhos {
    display: flex; /* Aplica o modelo Flexbox */
    justify-content: space-between; /* Espaça as imagens igualmente */
    flex-wrap: wrap; /* Permite que as imagens quebrem para a linha seguinte caso não caibam na mesma linha */
  }
.container {
    position: relative;
    width: 200px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,10);
    cursor: pointer;
    margin: 25px;
  }
  
  .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
  }
  
  .texto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3s ease;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Arial';
  }
  
  .container:hover .imagem {
    opacity: 0;
  }
  /* Esses dois comandos que tao fazendo a 
  imagem funcionar pra desaparecer(de cima) e 
  reaparecer(de baixo).
  */
  .container:hover .texto {
    opacity: 1;
  }