html, body {
  height: 100%;
  margin: 0; 
}

body {
  font-family: Arial, sans-serif;
  background-image: url('../assets/imgs/vinho_derramando.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  position: relative;
  z-index: 0;
}

/* Sombra no fundo */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1;
}

.corpo-da-pagina {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #6d0b0b;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.logo-vinheria {
  display: flex;
  align-items: center;
}

.logo-vinheria img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.logo-vinheria span {
  font-size: 1.5em;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-right: 70px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.1); 
  padding: 20px;
}

footer {
  background-color: #6d0b0b;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  bottom: 0;
  width: 100%;
}

/* Carrossel */

.carrossel-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.carrossel-slide {
  display: none;
  position: relative;
}

.carrossel-slide img {
  width: 1000px;
  height: 550px;
  display: block;
}

.carrossel-slide.active {
  display: block;
}

/* Setas carrossel  */
.carrossel-prev, .carrossel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1.5em;
  cursor: pointer;
  z-index: 10;
}

.carrossel-prev {
  left: calc(50% - 500px); 
}

.carrossel-next {
  right: calc(50% - 500px);
}

.carrossel-wrapper {
  background-color: rgba(17, 17, 17, 7); 
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin: 0 auto;
}

/* Texto Home */

.texto-apr, .eventos {
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 900px;
}

.texto-apr {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  text-align: center; 
}

.eventos {
  padding: 10px;
  max-width: 500px;
  text-align: left;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.titulo {
  text-align: center;
}
